*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    height: 100dvh;
    background-image: linear-gradient(to left, rgba(0 0 0 / .9),rgba(0 0 0 / .7) ), url(/imagenes/escuela-matrix.jpeg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
@font-face {
    font-family: 'myFamily';
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
.header{
    padding: 1rem 0;
}
.header .titulo img{
    filter: drop-shadow(5px 2px 8px yellow);
}
.titulo h1{
    font-family: 'myFamily';
    font-size: 12rem;
    letter-spacing: -10px;
    -webkit-text-stroke: 2px navy;
    -webkit-text-fill-color: white;
}
/* barra de navegación */
.navbar .navbar-1, .navbar .navbar-2{
    background-color: blue;
    list-style-type: none;
}
.navbar .navbar-1 {
    padding: .5rem;
}
.navbar .navbar-1 li, .navbar .navbar-2 li{
    padding: .6rem;
    text-decoration: none;
}

.navbar .navbar-1 #submenu-2 .navbar-2 li{
    width: 140px;
    margin-left: 1px;
    background-color: navy;
    border-bottom: 1px solid black;
}
.navbar .navbar-1 #submenu-2 .navbar-2 li a{
    width: 100%;
    /* display: inline-block; */
    /* background: navy; */
}
.navbar .navbar-1 li a, .navbar .navbar-2 li a{
    padding: .1rem;
    text-decoration: none;
}
.navbar .navbar-1 li{
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}
.navbar li .navbar-2{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}


.header h2{
    text-align: center;
    font-size: 2rem;
}
.header p{
    margin: .5rem auto;
    width: 80%;
    text-align: justify;
}
header .fecha{
    text-align: right;
    padding: 1rem 0;
}

/* main */
main{
    width: 80%;
    margin: 0 auto;
}
main .container h2{
    font-size: 2rem;
    margin: 10px 0;
}
main .container p{
    margin-bottom: 1rem;
}

main .container .logo-leonardoAI{
   margin-top: 2rem;
   padding: 10px 0;
   background-color: red;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#logo-leonardo:hover{
    filter: drop-shadow(1px 5px 8px rgb(27, 27, 27));
}

main .container .container-video{
    margin-top: 1rem;
    text-align: center;
}
main .container .container-video video{
    max-width: 80%;
    height: auto;
}

.imagenes{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagenes .item-imagen{
    border-radius: 1rem;
    width: 31%;
    height: auto;
    overflow: hidden;
}
.imagenes .item-imagen img{
    width: 100%;
    transition: transform .6s ease-in-out;
}
.imagenes .item-imagen img:hover{
    transform: scale(1.4) rotate(-10deg);
}
/* pien de pagina */
footer{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 0;
    background-color: black;
}
footer address{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
footer address p,footer address h3{
    margin-top: .3rem;
}
footer p{
    width: 80%;
    margin: 0 auto;
}


/* media query 560px */
@media (max-width: 560px){
    .imagenes{
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .imagenes .item-imagen{
        border-radius: 1rem;
        width: 90%;
        height: auto;
        overflow: hidden;
    }
    .imagenes .item-imagen img{
        margin-top: 10px;
        width: 100%;
        transition: transform .6s ease-in-out;
    }    
}


